.loginForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0px 0px 0px;
    justify-content: center;
    /* margin-top: 250px; */
    align-items: center;
    min-height: 70vh;
}