.footerClass {
  background-color: #1976d2;
  padding: 10px;
  text-align: center;
  font-family: Roboto;
  font-size: 6px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: center;
}
.copyRightIcon {
  color: white;
  vertical-align: middle;
}
